<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png"/>

    <title>Roman Pronskiy</title>

    <!-- SEO -->
    <meta name="description" content="Roman Pronskiy | PMM @ JetBrains, PHP Annotated author, PHP enthusiast, ZCE, bedroom Dj."/>
    <link rel="canonical" href="/"/>
    <link rel="publisher" href="https://plus.google.com/u/0/+RomanPronskiy0"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Roman Pronskiy &mdash; PMM @ JetBrains"/>
    <meta property="og:description" content="Roman Pronskiy | PMM @ JetBrains, PHP Annotated author, PHP enthusiast, ZCE, bedroom Dj."/>
    <meta property="og:url" content="/"/>
    <meta property="og:site_name" content="Roman Pronskiy"/>
    <meta property="og:image" content="{{ site.url }}/assets/img/roman_pronskiy_.jpg"/>
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="604">
    <meta property="og:image:height" content="604">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@pronskiy"/>
    <meta name="twitter:domain" content="Roman Pronskiy"/>
    <meta name="twitter:creator" content="@pronskiy"/>
    <!-- / SEO -->

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ site.url }}/assets/css/cover.css" rel="stylesheet">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-22346462-1', 'pronskiy.com');
        ga('send', 'pageview');

    </script>
</head>

<body>

<div id="wrap">
    <div class="container inner cover site-wrapper">
        <div class="row">
            <div class="center-block col-md-6">
                <div class="">
                    <img src="{{ site.url }}/assets/img/roman_pronskiy_.jpg" alt="Roman Pronskiy" width="140" height="140" border="0" class="img-circle center-block ">
                    <h1 class="text-center h2">Roman Pronskiy</h1>
                </div>
                <div class="center-block col-md-6">
                </div>
                <hr>
                <div>
                    <p class="text-justify indented">
                        Hi 👋 My name is Roman Pronskiy. I am Product Marketing Manager for <a href="https://jetbrains.com/phpstorm/">PhpStorm</a> at JetBrains, PHP Enthusiast, <a
                            href="https://www.zend-zce.com/en/yellow-pages/ZEND022916">Zend Certified Engineer</a>, and author of the <a href="https://blog.jetbrains.com/phpstorm/tag/php-annotated-monthly/">PHP&nbsp;Annotated</a> newsletter. I'm from <a href="https://www.google.com/maps/place/Kharkov/@49.9916541,36.2804766,11z/data=!3m1!4b1!4m2!3m1!1s0x4127a09f63ab0f8b:0x2d4c18681aa4be0a">Kharkov, Ukraine</a>, and live in 📍 Amsterdam, Netherlands.
                        <br/>
                    </p>
                </div>
                <hr>
                <div>
                    <h3 class="h4">Contacts: </h3>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-envelope"></i></span> <a href="mailto:roman@pronskiy.com">roman@pronskiy.com</a></li>
                        <li><span class="fa-li"><i class="fab fa-telegram-plane"></i></span> <a href="https://t.me/pronskiy">pronskiy</a></li>
                    </ul>
                    <hr/>
                    <div class="text-center">
                        <ul class="list-inline">
                            <li><a title="twitter.com/pronskiy" href="https://twitter.com/pronskiy"><i class="fab fa-fw fa-2x fa-twitter"></i></a></li>
                            <li><a title="github.com/pronskiy" href="https://github.com/pronskiy"><i class="fab fa-fw fa-2x fa-github"></i></a></li>
                            <li><a title="facebook.com/pronskiy" href="https://facebook.com/pronskiy"><i class="fab fa-fw fa-2x fa-facebook-f"></i></a></li>
                            <li><a title="vk.com/pronskiy" href="https://vk.com/pronskiy"><i class="fab fa-fw fa-2x fa-vk"></i></a></li>
                            <li><a title="t.me/pronskiy" href="https://t.me/pronskiy"><i class="fab fa-fw fa-2x fa-telegram-plane"></i></a></li>
                            <li><a title="ua.linkedin.com/pub/roman-pronskiy/27/543/615/" href="https://ua.linkedin.com/pub/roman-pronskiy/27/543/615/"><i class="fab fa-fw fa-2x fa-linkedin-in"></i></a></li>
                            <li><a title="medium.com/@pronskiy" href="https://medium.com/@pronskiy"><i class="fab fa-fw fa-2x fa-medium-m"></i></a></li>
                            <li><a title="instagram.com/pronskiy" href="https://instagram.com/pronskiy"><i class="fab fa-fw fa-2x fa-instagram"></i></a></li>
                            <li><a title="mixcloud.com/pronskiy" href="https://www.mixcloud.com/pronskiy/"><i class="fab fa-fw fa-2x fa-mixcloud"></i></a></li>
                            <li><a title="soundcloud.com/pronskiy" href="https://soundcloud.com/pronskiy/"><i class="fab fa-fw fa-2x fa-soundcloud"></i></a></li>
                            <!--                    <li ><a title="stackoverflow.com/users/673014/pronskiy" href="//stackoverflow.com/users/673014/pronskiy"><i class="fa fa-fw fa-2x fa-stack-overflow"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>
<footer id="footer">
    <div class="container text-center">
        <p>&copy;
            <script>document.write(new Date().getFullYear())</script>
            Roman Pronskiy
        </p>
    </div>
</footer>
</body>
</html>
